.upload-container {
    background: #ccc !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 2px dotted #808080;
    border-radius: 10px;
    width: 300px;
    height: 20vh;
    text-align: center;
    background-color: #f9f9f9;

    margin-top: 15%;
    margin-left: 40%;
}

.upload-container input {
    cursor: pointer;
}

.upload-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.upload-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.upload-status {
    font-size: 14px;
    color: #333;
}